# Node modules
node_modules/
dist/
.env
.env.*

# Environment vars
.env
.env.*
setup.sh 

# Playwright test outputs
test-results/
playwright-report/
blob-report/
html-report/
videos/
screenshots/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
